$header-bg-color: blue
$footer-bg-color: black
$footer-text-color: #555
$header-footer-height: 50px
$nav-link-bg-color: black
$nav-link-text-color: white
$nav-link-hover-bg-color: yellow
$nav-link-hover-text-color: black
$button-disabled-bg-color: grey
$button-disabled-color: black
$dialog-backdrop-color: rgba(0, 0, 0, 0.7)
$dialog-backdrop-zindex: 50
$dialog-box-zindex: 100
$dialog-bg-color: #eee
$dialog-title-bg-color: blue
$dialog-title-text-color: white
$dialog-box-border: 2px solid black
